<h1>New Myco-File</h1>

<%= form_with model: @myco_file do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :shape %><br>
    <%= form.text_area :shape %>
  </div>

  <div>
    <%= form.label :color %><br>
    <%= form.text_area :color %>
  </div>

  <div>
    <%= form.label :gills %><br>
    <%= form.checkbox :gills %>
  </div>

  <div>
    <%= form.label :pores %><br>
    <%= form.checkbox :pores %>
  </div>

  <div>
    <%= form.label :edibility %><br>
    <%= form.text_area :edibility %>
  </div>

  <div>
    <%= form.label :season %><br>
    <%= form.text_area :season %>
  </div>

  <div>
    <%= form.label :location %><br>
    <%= form.text_area :location %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>