<h1><%= @myco_file.name %></h1>

<p>Shape: <%= @myco_file.shape %></p>
<p>Color: <%= @myco_file.color %></p>
<p>Gills: <%= @myco_file.gills %></p>
<p>Pores: <%= @myco_file.pores %></p>
<p>Edibility: <%= @myco_file.edibility %></p>
<p>Season: <%= @myco_file.season %></p>
<p>Location: <%= @myco_file.location %></p>

<ul>
  <li><%= link_to "Edit", edit_myco_file_path(@myco_file) %></li>
  <li><%= link_to "Delete", myco_file_path(@myco_file),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>