<!DOCTYPE html>
<html>
  <head>
    <title>MycoFilez</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="
        background-image: url('https://images.pexels.com/photos/344061/pexels-photo-344061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        position: center;
        background-size: cover;
        height: 100vh;
        width: 100%;
      ">
    <div id="skip">
      <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    </div>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
